# macOS
.DS_Store

# Xcode build output & derived data
build/
DerivedData/
*.xcarchive

# Xcode user-specific state (not shared)
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

# Misc
*.moved-aside
*.hmap
*.ipa
